<div class="container mt-4">
  <h3 class="mb-4 text-center">Meilleurs Événements (Places Limitées)</h3>
  
  <input type="text" [(ngModel)]="searchTerm" class="form-control mb-4" placeholder="Rechercher un événement...">
  
  <div class="row g-4">
    <div class="col-md-4 col-sm-6" *ngFor="let event of listEvents; let i = index">
      <ng-container *ngIf="searchTerm === ''">
        <app-card-evenement [e]="event"></app-card-evenement>
      </ng-container>
    </div>
  </div>
  
  <div *ngIf="listEvents.length === 0" class="text-center mt-4">
    <p class="text-muted">Aucun événement avec places disponibles pour le moment.</p>
  </div>
</div>